$backup_font_family: Helvetica, Arial, sans-serif;
$my_font_family_1: 'Source Sans Pro', $backup_font_family;

$my_font_family_2: 'Oswald', $backup_font_family;

$title_color : #990000;
$subtitle_color: #999;
